/* Common styles for both mobile and desktop */
/* This is bottom-slider-v3.css loaded from GitHub */
.ixi-growth-popup * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section.ixi-growth-popup {
  position: fixed;
  width: 100% !important;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1060;
  max-width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  background: rgba(0, 0, 0, 0.4); /* Add an opaque background */
}

/* Styles for mobile screens */
@media (max-width: 767px) {
  section.ixi-growth-popup .profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  section.ixi-growth-popup.show .profile {
    display: none;
  }

  section.ixi-growth-popup .profile .profile-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #275df1;
    padding: 3px;
    margin-bottom: 10px;
  }

  /* Add mobile-specific styles here */
}

/* Styles for desktop screens */
@media (min-width: 768px) {
  section.ixi-growth-popup .profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #ffffff; /* Background color for desktop */
    border-radius: 8px; /* Border radius for desktop */
    padding: 20px; /* Padding for desktop */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow for desktop */
    width: 300px; /* Set the width for the desktop popup */
  }

  section.ixi-growth-popup.show .profile {
    display: flex;
  }

  /* Add desktop-specific styles here */
}

.popup-outer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

/* Close button styles */
.close-button {
  position: absolute;
  top: 10px; /* Adjust top position as needed */
  right: 10px; /* Adjust right position as needed */
  cursor: pointer;
}

.show .popup-outer {
  pointer-events: auto;
}

/* Add other common styles here */
